#Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

#Desktop & Web Boilerplate
bin/
obj/
test_driver/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/
.plugin_screenshots/

#Dependency & IDE folders
.idea/
.vscode/
*.iml
cmake-build-*/

# Generated Code 
# *.g.dart

#Security & Env
.env
*.secret
ios/Flutter/Generated.xcconfig
android/key.properties
local.properties
**/*.keystore
**/*.jks
/secrets/

# Android build artifacts
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
/dist/

# iOS build artifacts
ios/.symlinks/
ios/Pods/
ios/Frameworks/
ios/DerivedData/

#macOS noise
.DS_Store
DerivedData/